:root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: cadetblue;
}

.biscuit-img {
  width: 300px;
  height: auto;
}

.biscuit-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo-style {
  display: flex;
  justify-content: center;
  width: 400px;
}
